h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 20vh;
}
#tomatenAccordion {
    width: 50vw;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    .accordion-button:not(.collapsed) {
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }   
    .accordion-button:focus {
        box-shadow: 
  1px 1px 5px 1px rgba(0, 0, 255, 0.6),   /* Blauer Schatten */
  -1px -1px 5px 1px rgba(128, 0, 128, 0.6); /* Lila Schatten */
    }
    button {
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
    .accordion-body {
        display: flex;
        .section.left {
            padding-left: 2vw;
        }
        .section.right {
            padding-left: 2vw;
        }
    }
}