<!-- <div id="wrapper">
    <div id="aussaat">
        <p>Noch <strong>{{ daysUntilAussaat }}</strong> Tage bis zur ersten Aussaat!</p>
        <img src="assets/icons/seedling.svg" alt="Aussaat-Icon">
    </div>
    
    <div id="eisheiligen">
        <p>Noch <strong>{{ daysUntilEisheiligen }}</strong> Tage bis zu den Eisheiligen!</p>
        <img src="assets/icons/snowflake.svg" alt="Eisheiligen-Icon">
    </div>
</div> -->

<div id="wrapper">
    <div id="aussaat">
      <p>
        Noch
        <strong>{{ daysUntilAussaat }}</strong> Tage,
        <strong>{{ hoursUntilAussaat }}</strong> Stunden,
        <strong>{{ minutesUntilAussaat }}</strong> Minuten und
        <strong>{{ secondsUntilAussaat }}</strong> Sekunden bis zur ersten Aussaat!
      </p>
      <img src="assets/icons/seedling.svg" alt="Aussaat-Icon">
    </div>
  
    <div id="eisheiligen">
      <p>
        Noch
        <strong>{{ daysUntilEisheiligen }}</strong> Tage,
        <strong>{{ hoursUntilEisheiligen }}</strong> Stunden,
        <strong>{{ minutesUntilEisheiligen }}</strong> Minuten und
        <strong>{{ secondsUntilEisheiligen }}</strong> Sekunden bis zu den Eisheiligen!
      </p>
      <img src="assets/icons/snowflake.svg" alt="Eisheiligen-Icon">
    </div>
  </div>